
    <div class="card text-center">
        <div class="card-header">
            Available Rooms
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card text-center mt-4">
        <div class="card-header">
            Chat - Room
        </div>
        <div class="card-body">
            <p class="card-text text-secondary">It's empty here</p>
        </div>
        <div class="card-footer">
            <form method="post">
                <div class="input-group">
                    <input id="msg_box" class="form-control" type="text" placeholder="Recipient's username" aria-label="Type a message" aria-describedby="button-addon2" disabled required>
                    <button id="msg_box_button" class="btn btn-success px-4" type="submit" disabled><i class="bi bi-send-fill me-2"></i>Send</button>
                  </div>
            </form>
        </div>
    </div>