<!-- Modal -->
<div class="modal fade" id="modalRoom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new room</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with url: createRoom_path, data: { turbo: false }, id: "form", html: { onsubmit: "saveRoom(event)" } do |form| %>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Room name</label>
          <input type="text" name="room_name" class="form-control" placeholder="Good room" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success w-100">Continue</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  function saveRoom(event) {
    event.preventDefault();
    const url = "<%= createRoom_path %>";
    const form = new FormData(event.target);
    const room_name = form.get("room_name");
    const authenticity_token = form.get("authenticity_token");
    $.ajax({
        url: url,
        data: {
            'room_name': room_name,
            'authenticity_token': authenticity_token
        },
        success: function(data) {
          // console.log(data);
          $('#modalRoom').modal('hide');
          let btnLength = document.getElementsByClassName('enterBtn').length;
          for(let i = 0; i < btnLength; i++) {
            document.getElementsByClassName('enterBtn')[i].disabled = false;
          }
        },
        method: 'post'
    });
    }
</script>